<!DOCTYPE html>
< xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Book Detail Form</title>
</head>
<body>
    <h2>Book Detail Form</h2>
    <form method="post" th:object="${book}" th:action="@{/books/save}">
        <input type="hidden" th:field="*{id}" />
        <label for="isbn number" placeholder="Enter isbn number">Book IBSN name: </label>
        <input type="text" th:field="*{isbn}" />
        <br/>
        <label for="Book " aria-placeholder="Enter the book name">Book Name:</label>
        <input type="text" th:field="*{Book Name}" />
        <br/>
        <label for="Author name">Author Name:</label>
        <input type="number" th:field="*{Author Name}" />
        <br/>
        <label for="role"> Role :</label>
        
        <select>
            
            <option value="user">User</option>
            <option value="teacher"> Teacher</option>
            
        </select>
        <br/>
        <button type="submit">Save</button>
        <button type="Reset">Reset</button>

    </form>
</body>
</html>
